@font-face {
    font-family: roboto-mono;
    src: url(RobotoMono-VariableFont_wght.ttf);
}
*{
    /* border: 1px solid red; */
    font-family: roboto-mono;
} 

body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #160F29;
}