@font-face {
    font-family: tt-travels;
    src: url(TTTravelsRegular.otf);
}

@font-face {
    font-family: tt-chocolates;
    src: url(TTChocolatesTrialRegular.otf);
}

* {
    font-family: tt-chocolates;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: row;
    background-color: white;
}

/* Criação dos elementos da página */

.pagina {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.barra-lateral {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 100vh;
    border-radius: 0px 5vh 5vh 0px;
    background-color: #5903AF;
    transition: 1000ms;
}

.barra-logo {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.barra-itens {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.2vh;
}

.barra-usuario {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.barra-fotoUsuario {
    background-color: snow;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.barra-button {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: flex-end;
    padding: 10%;
}

.barra-logo img {
    display: flex;
    width: 20%;
    height: auto;
}

.barra-logo span {
    font-family: tt-travels;
    font-size: 5vh;
    color: white;
}

.barra-itens #item {
    border-bottom: solid 0.1vh white;
}

.barra-itens ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.barra-itens ul li {
    display: flex;
    cursor: pointer;
    width: 60%;
}

.barra-itens ul li:hover {
    cursor: pointer;
    border-bottom: solid 0.1vh white;
}

.barra-fotoUsuario img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #420b76;
}

.barra-button button {
    width: 60%;
    color: white;
    border: solid 1px white;
    border-radius: 40px;
    background-color: #5903af00;
    font-size: 3vh;
    transition: 500ms;
}

.barra-button button:hover {
    cursor: pointer;
    transform: translateY(-0.3vh);
    transition: 500ms;
}

.container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header img {
    position: fixed;
    display: flex;
    width: 5vw;
    height: auto;
    transform: translateX(39vw);
}

.header a {
    font-size: 7vh;
    letter-spacing: 0.2vh;
}

.header span {
    font-size: 3vh;
}

.linhaTitulo {
    margin-top: 0.2%;
    width: 80vw;
    border: 0.3vh dashed #000;
}

.containerCard-Grande {
    display: flex;
    width: 80vw;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

.cardGrande {
    margin-top: 2%;
    width: 65%;
    height: 95%;
    border: #8C52FF solid 0.3vh;
    border-radius: 3vh;
}

.primeiraParte {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.areaInput {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputPesquisa {
    width: 90%;
    height: 60%;
    border-radius: 5vh;
    display: flex;
    text-align: center;
    background: url("../img/icons8-pesquisar-48.png") no-repeat left/ 2vw;
}

.areaBtn {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cardBtns {
    width: 90%;
    height: 100%;
    border: #000 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.areaBtn button {
    width: 15vh;
    height: 8vh;
}

.btnSeguro {
    background-color: snow;
    border: #000 solid 1px;
    color: black;
    box-shadow: 1px 1px 10px rgba(0, 128, 0, 0.611);
}

.btnAlerta {
    background-color: snow;
    border: #000 solid 1px;
    color: black;
    box-shadow: 1px 1px 10px rgb(228, 228, 15);
}

.btnPerigo {
    background-color: snow;
    border: #000 solid 1px;
    color: black;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.583);
}

select {
    width: 60%;
    height: 2vw;
    border: #8C52FF 0.2vh solid;
}

.selectUva {
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.areaCardsPequenos {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardPequeno {
    width: 90%;
    height: 25%;
    border: solid 0.2vh #8C52FF;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ordemCardpequeno {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ordemCardpequeno img {
    width: 8vh;
    height: 8vh;
}

#title {
    font-size: 2vh;
}

.containerGraficos {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 95%;
    border: solid 0.2vh #8C52FF;
    border-radius: 3vh;
    align-items: center;
    justify-content: space-evenly;
}

.graficoBarraHorizontal {
    width: 90%;
    height: 40%;
    border: solid 0.2vh #150437;
    display: flex;
    border-radius: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.graficoBarraHorizontal select {
    width: 10vw;
    height: 2vw;
    border-radius: 1vh;

}

#graficoBarraDeitado {
    width: 40vh;
    height: 40vh;
}

.container-graficoPizza {
    width: 90%;
    height: 50%;
    border: solid 0.2vh #150437;
    display: flex;
    border-radius: 3vh;
    flex-direction: column;
    align-items: center;
}

.container-graficoPizza a {
    font-size: 2.3vh;
}

.statusImagens {
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status img {
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status a {
    font-size: 2vh;
    color: rgb(13, 100, 8);
}

.areaGrafico {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graficoPizza {
    width: 150vh;
    height: 150vh;
}