@font-face {
    font-family: tt-travels;
    src: url(fontes/TTTravelsRegular.otf);
}
@font-face {
    font-family: tt-chocolates;
    src: url(fontes/TTChocolatesTrialRegular.otf);
}
*{
    font-family: tt-chocolates;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}