@font-face {
    font-family: tt-travels;
    src: url(/fonte/TTChocolatesTrialRegular.otf);
}
@font-face {
    font-family: tt-chocolates;
    src: url(/fonte/TTTravelsRegular.otf);
}
body{
    display: flex;
    flex-direction: row;
    background-color: white;
}

/* Criação dos elementos da página */

.pagina{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
}
/* .container_topo{
    display: flex;
    width: 70vw;
    height: 20vh;
    border: solid 1px pink;
} */
.superior{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: row;   
}
.superior_esquerda{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
}
.superior_direita{
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    flex-direction: column;
}
.caixas{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.caixa{
    display: flex;
    flex-direction: column;
    border: solid 1px purple;
    border-radius: 30px;
    width: 32%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    
}
.top_estufas{
    display: flex;
    border: solid 1px purple;
    border-radius:30px ;
    width: 95%;
    height: 85%;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/uvaDetalhe.png);
    background-size: 5vw, 5vh;
    background-repeat: no-repeat;
    background-position:right top;  
}

.imagem_uva{
    width: 50%;
}
.top_estufas img{
    height: 115%;
}
.top_estufas h2{
    margin-top: 15px;
}
.linha-lista{
    display: flex;
    height: 3vh;
    margin-bottom: 1vh;
}
.lista{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    }
.inferior{
    display: flex;
    width: 100%;
    height: 50%;
   flex-direction:row ;
} 
.inferior_esquerda{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
}
.grafico{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.titulo_grafico{
    display: flex;
    justify-content: center;
}
canvas{
    width: 100%;
    height: 100%;
}

.segundo_grafico{
    width: 40%;
    height: 100%;
}
.inferior_direita{
    display: flex;
    width: 25%;
    height: 100%;
}
.uvas_cultivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 90%;
    border: solid 1px purple;
    border-radius:30px ;
    background-image: url(/img/uvaDetalhe.png);
    background-position:right top;  
    background-size: 5vw, 5vh;
    background-repeat: no-repeat;
}
.uvas_cultivo h3{
    margin-top: 15px;
}
.lista_uvas{
    display: flex;
    flex-direction: column;  
    font-size: 20px;
}
