/* Header e linha após informações */

.linhaTitulo {
    margin-top: 0.2%;
    width: 80vw;
    border: 0.3vh dashed #000;
}

.header {
    width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header img {
    position: fixed;
    display: flex;
    width: 5vw;
    height: auto;
    transform: translateX(39vw);
}

.header a {
    font-size: 7vh;
    letter-spacing: 0.2vh;
}

.header span {
    font-size: 3vh;
}

/* FIM HEADER */

/* COMEÇO TELA PRINCIPAL */
.container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_tela{
    display: flex;
    width: 95%;
    height: 84vh;
    border: 2px solid purple;
    border-radius: 5%;
    justify-content: space-around;
}

/* DIV GRAFICOS */
.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 60%;
    height: 100%;
}

.grafico_temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 40%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px dashed purple;
    border-radius: 5%;
}

.grafico_umidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 40%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px dashed purple;
    border-radius: 5%;
}

.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 30%;
    height: 100%;
}

/* FIM DIV GRAFICOS */

/* DIV INFORMAÇÕES E ATUAL */

.atual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 20%;
    width: 90%;
    border: 2px purple solid;
    border-radius: 5%;
}

h2{
    font-size: 4vh;
}

.atual_ambos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
}

.atual_temp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atual_temp img{
    width: 2vh;
    height: 3.5vw;
}

.atual_umidade{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atual_umidade img{
    width: 6vh;
    height: 3.5vw;
}

.descricao{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 63%;
    width: 90%;
    border: 2px purple solid;
    border-radius: 5%;
}

.info_estufa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 40%;
    width: 95%;
    border: 2px purple solid;
    border-radius: 5%;

    font-size: 3vh;
}

.info_dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 40%;
    width: 95%;
    border: 2px purple solid;
    border-radius: 5%;

    font-size: 3vh;
}

/* FIM DIV INFORMAÇÕES E ATUAL */