html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header .container a {
    text-decoration: none;
    color: #ffffff;

    width: 10vw;
    display: flex;

}

/*Formatação da navbar*/
.header {
    width: 100%;
    height: 10vh;
    background-color: #46472a;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .login {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-right: 25vh;
    justify-content: flex-end;
}
.header .container .login li{
    border-right: #ffffff solid 1px;
    height: 94%;
    margin-top: 0%;
}
.header .container .login a{
    margin:10% 4%;
}

.header .container li {
    font-family: 'Fraunces', serif;
    font-size: 3vh;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    transition: 1s;

}
.header .container li:hover{
    font-size: 3.5vh;
    transition: 1.5s;
}

/*Cor do titulo vinTech*/

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 100%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {

    align-items: center;
    justify-content: center;
}

/*Formatação da navbar*/
.navbar {
    color: #ffffff;
    list-style: none;
    display: flex;
    width: 70vh;
    justify-content: space-around;
}

/*Formatação do banner*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/HomeAgoraVai.png);
    background-attachment: fixed;
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}

.banner h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10vh;
    margin: 0;
}

.banner p {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;

}

/*Inicio botão entrar*/
.entrar {
    background-color: #ffffff;
    width: 20%;
    height: 8%;
    border: none;
    color: #C8A287;
    font-size: 5vh;
    transition: 1.5s;
}
.entrar:hover {
    margin-bottom: 5%;
    box-shadow: 1vh 2vh 5vh 1vh #000000;
    transition: 1.5s;
}

/*Final botão entrar*/
/*Final do banner*/

/*Inicio tela saiba mais*/
.saibaMais {
    width: 100%;
    height: 100vh;
    background-image: url(../img/About.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.saibaMais .container {
    justify-content: space-between;
    height: 100%;
    width: 98%;
}

.textoCol1 {
    text-align: left;
}

.coluna1 {
    margin-left: 3vh;
}

#item1 {
    color: #5105BD;
    padding-top: 1vh;
    font-size: 4.5vh;
    width: 80vh;
}

#item2 {
    color: #393a22;
    font-size: 5vh;
    font-weight: 400;
    padding-top: 20vh;
    width: 80vh;
}

#item2 h2 {
    color: #383a24;
    font-size: 6vh;
}

.textoCol2 {
    text-align: left;
}

#item3 {
    color: #393a22;
    font-size: 4vh;
    font-weight: 400;
    padding-top: 5vh;
    padding-bottom: 15vh;
    width: 80vh;
}

#item3 h2 {
    color: #383a24;
}

#item4 {
    color: #393a22;
    font-size: 4vh;
    font-weight: 400;
    width: 90vh;
    padding: 5vh 2vh;
    border: 0.5vh solid #5105BD;
    border-radius: 0vh 5vh;
}

#item4 h2 {
    color: #383a24;
}

/*Final tela saiba mais*/

/* Começo simule aqui */
.simule {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url(../img/uva_coluna.jpg);
    background-repeat: no-repeat;
    background-size: 40% 100vh;
}

.simule .container {
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.simule .txt_simule {
    text-align: center;
    height: 100vh;
    width: 60%;
    background-image: url(../img/VinTech.png);
    background-size: 200% 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3vh;
}

.simule .txt_simule ::placeholder {
    color: #383a24;
    font-size: 3vh;
    text-align: center;
}

.simule .txt_simule h2 {
    text-align: left;
    color: white;
    margin-left: 11vh;
    width: 100%;
    font-size: 9vh;
    margin-bottom: 5vh;
    margin-top: 10%;
}

.simule p {
    width: 90vh;
    font-size: 4.5vh;
    color: #393a22;
}

.simule span {
    width: 40vh;
    text-align: left;
}

.simule .input {
    background-color: #ffffff;
    display: flex;
    width: 90vh;
    height: 7.9vh;
    border-radius: 10vh;
    justify-content: space-between;
}

.simule input {
    border: 0px;
    border-radius: 10vh;
    width: 79vh;
    height: 7.3vh;
    font-size: 5vh;
}

.simule .quadrado {
    background-color: gray;
    border-radius: 4vh;
    height: 8vh;
    width: 10vh;
    font-size: 3vh;
    text-align: center;
    line-height: 8vh;
}

.simule button {
    margin-top: 5%;
    height: 10vh;
    width: 50vh;
    border-radius: 6vh;
    border: 0.4vh solid black;
    font-size: 3vh;
    background-color: rgb(253, 253, 233);
    transition: 1s;
}
.simule button:hover{
    background-color: #d2b0dc;
    transition: 1.5s;
}

/* Final simule aqui */

/* Começo Feito para você */

.feito_voce {
    height: 100vh;
    width: 100%;
    background-image: url(../img/vintech_bege.png);
    background-size: 100% 100vh;
}

.feito_voce .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.feito_voce .texto {
    text-align: center;
}

.feito_voce .texto h1 {
    font-size: 7vh;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10vh;
}

.feito_voce .texto span {
    font-size: 4vh;
    color: #705f53;
}

.feito_voce .Ncards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feito_voce .card {
    margin-top: 10vh;
    text-align: center;
    height: 55vh;
    width: 35vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feito_voce .detalhe {
    background-image: url(../img/detalhe.png);
    background-size: cover;
    width: 35vh;
    height: 6vh;
}

.feito_voce h2 {
    font-size: 8vh;
    color: #ddbea8;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    margin-bottom: 30%;
}

.feito_voce p {
    font-size: 2.5vh;
}

/* Final Feito para você */

/* Começo Fale Conosco */

.fale_conosco {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url(../img/uva_vermelha.jpg);
    background-color: black;
    background-size: 90% 100vh;
    background-repeat: no-repeat;
    background-position: right;
}

.fale_conosco .container {
    justify-content: start;
    height: 100%;
    width: 100%;
}

.fale_conosco .txt_fale {
    height: 100vh;
    width: 55%;
    background-image: url(../img/vintech_branco.png);
    background-attachment: fixed;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10vh;
    color: rgb(63, 63, 63);
}

.fale_conosco .txt_fale h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vh;
    color: #c03124;
    margin-top: 15vh;
}

.fale_conosco p {
    width: 40vh;
    font-size: 4vh;
}

.fale_conosco .txt_fale a {
    color: rgb(63, 63, 63);
    font-size: 4vh;
}

.fale_conosco img {
    height: 7vh;
    width: 7vh;
    color: #c03124;
}

.fale_conosco .icones_fale {
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.fale_conosco span {
    font-size: 4vh;
}

/*Final social*/
/*Inicio*/
.footer .container {
    width: 100%;
    height: 100vh;
    background-color: #32a7b1;
    justify-content: center;
}


/* palavras especificas */

.roxo_escuro {
    color: #28015e;
}

.roxo {
    margin-top: 8vh;
    color: #1a013b;
}

.escuro {
    color: #383a24;
    ;
}