.areaAlterarImagem {
    width: 80%;
    height: 90%;
    border: red 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.areaCardImagem {
    border: black 2px solid;
    width: 20%;
    height: 35%;
    border-radius: 50%;
}