/* Definindo as classes e seus atributos */

.pai {
    display: flex;
    justify-content: row;
    background: url(../img/vintech_roxo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    margin-top: 1vh;
    width: 30%;
    height: 60%;
    border: none;
    /* border: solid 2px black; */
    border-radius: 10px;
    background-color: azure;
    font-size: 3vh;
    /* align-self: flex-end; */
    box-shadow: 5px 1px 10px #705480;
    margin-right: 2vw;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 29%;
    height: 100vh;
    background-color: #93b5c6ce;
    /* background-color: blueviolet; */
}

.sobreTitulo {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: #3b667c7c;
    text-align: center;
    justify-content: center;
}

.sobreTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 85vh;
    text-align: justify;
    /* padding: 10%; */
    /* background-color: coral; */
    justify-content: space-evenly;
    gap: 5vh;
    font-size: 1vh;
}

.coluna {
    display: flex;
    width: 1%;
    height: 100vh;
    /* background-color: aquamarine; */
    box-shadow: 15px, 15px, 15px black;
    box-shadow: 5px 0px 30px rgb(58, 20, 58);
}

.ajuste {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2e1fc;
    border-radius: 10px;
    box-shadow: 10px 0px 30px rgb(146, 146, 146);
    /* padding-top: 3vh; */
    /* padding-bottom: 3vh; */
    /* border: solid 3px black; */
}

.formulario-infoEmpresa {
    width: 65%;
    height: 95%;
}

.formulario-cadastroLogin {
    display: none;
    width: 50%;
    height: 60%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    justify-content: space-evenly;
    /* background-color: cornflowerblue; */
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 80%;
    /* margin-top: 1vh; */
    /* margin-bottom: 1vh; */
    /* border: 2px solid red; */
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    /* border: 1px solid red; */
}

.administrador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}

.termos {
    display: flex;
    height: 10vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vh;
}

.carregando {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #a7a7a7ef;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Definindo atributos das tags dentro das classes */
.sobreTitulo h1 {
    font-size: 2vw;
    letter-spacing: 2px;
    font-family: tt-travels;
}

.sobreTexto p {
    letter-spacing: 1px;
    font-size: 2.2vh;
    line-height: 2.7vh;
}

.sobreTexto span {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 900;
}

.linha input {
    width: 10vw;
    height: 6vh;
    /* border: solid 1px rgb(111, 88, 122); */
    border: none;
    border-radius: 5px;
    background-color: #ffffff98;
    padding-left: 15px;
    box-shadow: 1px 1px 10px #4f3f585d;
    letter-spacing: 2px;
}

.linha p {
    width: 80%;
    font-size: 2vh;
}

.linha .bloco,
.linha .bloco input {
    width: 100%;
    margin-top: 0.5vh;
    /* border: 2px solid red; */
}

.linha .bloco p {
    margin-top: 0.5vh;
    font-weight: bold;
}

.linha-cnpj .bloco-cnpj {
    width: 40%;
}

.linha-cnpj .bloco-cep {
    width: 35%;
}

.linha-cnpj .bloco-numero {
    width: 15%;
}

.formulario-infoEmpresa h1 {
    font-size: 4vh;
}

.linha-imagemUsuario .bloco-imagem {
    width: 100%;
    height: 100%;
}

.formulario-infoEmpresa h2 {
    font-size: 3.5vh;
    width: 80%;
    font-weight: 500;
}

.formulario-infoEmpresa h2:last-of-type {
    /* border: 2px solid red; */
    width: auto;
    font-size: 3vh;
}

.formulario-cadastroLogin{
    height: 70%;
}

.formulario-cadastroLogin .linha,
.formulario-cadastroLogin .linha .bloco {
    width: 90%;
    /* border: 2px solid red; */
}

.formulario-cadastroLogin h2 {
    font-size: 3.5vh;
    font-weight: 300;
}

.formulario-cadastroLogin p {
    font-size: 2.5vh;
}

.carregando img {
    width: 150px;
    height: 150px;
}