@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Fraunces:wght@100&family=Mallanna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cousine&family=Josefin+Sans:wght@100&display=swap');

@font-face {
    font-family: roboto-mono;
    src: url(RobotoMono-VariableFont_wght.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #4c07ec;
}

body {
    margin: 0%;
}

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}



/*Formatação do banner*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/vintech_roxo.png);
    background-attachment: fixed;
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*Final do banner*/


.form {
    background-color: #FFFBF5;
    width: 35vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3% 4%;
    color: #000;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px rgb(105, 105, 105);
}

.form .label {
    font-size: 25px;
    color: rgb(53, 53, 53);
    font-family: roboto-mono;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.form img {
    width: 15vw;
    height: 15vh;
    margin: 0 auto;
}

.form input {
    background-color: #FDE4FF;
    border: none;
    border-bottom: 3px solid rgba(255, 192, 203, 0.425);
    padding: 4.5%;
    width: 30vw;
    border-radius: .5rem;
    margin-bottom: 5%;
    text-align: left;
    font-size: 15px;
    transition: .5s linear;
}

.form .entrarBotao {
    background-color: transparent;
    color: #efa9fd;
    border: 3px solid #efa9fd;
    border-radius: .5rem;
    font-size: 18pt;
    padding: 5%;
    width: 60%;
    margin: auto;
    transition: .3s ease-out;
}

.form .entrarBotao:hover{
    border-color: #df6ff5;
    color:#df6ff5;
    transition: .3s ease-in;
}

.form p {
    color: rgb(58, 58, 58);
    font-size: large;
    margin: auto;
}

.form .span_aqui {
    color: #9800b6;
    font-size: large;
    font-weight: 700;
}

.errWarning::-webkit-input-placeholder{
    color: rgb(238, 76, 76);
    font-weight: bold;
}